body {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 205, 207);
  min-height: 100vh;
}

header {
  background-color: ghostwhite;
}

header,
main {
  margin: 0;
  padding: 1rem 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: rgb(177, 45, 30);
}

h1 {
  margin: 3rem 0;
}

h2 {
  margin-bottom: 2rem;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 0 auto;
  text-align: left;
}

/* Form labels */
form label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 0.3rem;
  text-align: left;
}

/* Form Inputs */
form input,
form select {
  height: 2rem;
  padding: 0.4rem;
  font-size: 1rem;
}

/* Submit button */
form button {
  height: 2.4rem;
  font-size: 1rem;
  cursor: pointer;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: dense;
  flex-flow: row wrap;
  width: fit-content;
  max-height: 180rem;
  justify-content: center;
  align-content: top;
  gap: 2rem;
  margin: 0 auto;
  padding: 0;
}

.card {
  display: flex;
  flex-flow: column;
  color: pink;
  width: 20rem;
  height: fit-content;
  padding: 1rem 2rem 2rem;
  margin: 0;
  text-align: left;
  border-radius: 0.5rem;
  background: lavenderblush;
  border: solid plum;
  transition: 500ms ease;
}

.card:hover {
  background: lavender;
  transform: scale(105%) translateY(-1rem);
  box-shadow: 0 1rem 1rem thistle;
  transition: 150ms ease;
}

.card:hover .p-wrap {
  background: lavenderblush;
  transition: 300ms ease;
}

.card h2 {
  color: hotpink;
  -webkit-text-stroke: 1px orchid;
}

.p-wrap {
  display: flex;
  flex-flow: column;
  max-height: 80%;
  color: purple;
  background: mistyrose;
  border: solid plum;
  border-radius: 1rem;
  padding: 1rem;
  transition: 500ms ease;
}

.p-wrap p {
  line-height: 1.25;
  padding: 0;
  margin: 0.35rem 0;
}

.p-wrap button {
  color: purple;
  background: lavenderblush;
  border-radius: 0.25rem;
  border: solid 0.15rem plum;
  width: fit-content;
  padding: 0.15rem 0.5rem;
  margin: auto 0.5rem 0.5rem auto;
  align-self: flex-end;
  transition: 100ms ease;
}

.p-wrap button:hover {
  background: plum;
  color: paleturquoise;
  border: solid 0.15rem paleturquoise;
  transition: 100ms ease;
}

.p-wrap button:active {
  background: lavenderblush;
}

@media (max-width: 1655px) {
  .card-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .card-wrapper {
    width: 70vw;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .card-wrapper {
    display: flex;
  }
}